{{ partial "sanders.html" . }}
<footer id="colophon" class="site-footer" role="contentinfo">
    <div class="footer-nav">
        <a href="/about#profiles">
            <blockquote>സുബിന്‍ സിബി<br/><span title="a.k.a SubinSiby">@subins2000</span><br/>/bin/su</blockquote>
        </a>
        <div style="text-align: center;">
            <div class="side">
                <ul>
                    <li><a href="/about">About</a></li>
                    <li><a href="/search">Search</a></li>
                    <li><a target="_blank" href="/sitemap.xml">Sitemap</a></li>
                    <li><a target="_blank" href="/index.xml ">RSS Feed</a></li>
                    <li><a href="/about#subscribe">Subscribe</a></li>
                </ul>
            </div>
            <div class="side">
                <ul>
                    <li><a target="_blank" href="https://github.com/subins2000">GitHub</a></li>
                    <li><a target="_blank" href="https://gitlab.com/subins2000">GitLab</a></li>
                    <li><a target="_blank" href="https://t.me/SubinSiby">Telegram</a></li>
                    <li><a target="_blank" href="https://aana.site/@subins2000">Mastodon</a></li>
                    <li><a target="_blank" href="https://twitter.com/SubinSiby">Twitter</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="site-info">
        <p style="text-align: center;">
            This blog is created, written and maintained by Subin Siby. It is built with <u><a target="_blank" href="https://gohugo.io/">Hugo</a></u> and hosted by <u><a target="_blank" href="https://gitlab.com">GitLab</a></u>.
        </p>
        <div class="smilie" title="This is just a text transformed into a smiley face by CSS. Check the source !">:-)</div>
        <span></span><span></span><span></span><span></span><span></span><span></span><span></span>
    </div>
</footer>
<!-- SVG Iconset -->
<svg style="display:none;">
    <defs>
        <path id="shape-tab" d="M100,25C79.568,25,84.815,0,59.692,0H11.149C5.027,0,0,4.634,0,10.385V25"></path>
        <path id="shape-tab-right" d="M0,25C20.432,25,15.185,0,40.308,0h48.543C94.973,0,100,4.634,100,10.385V25"></path>
        <path id="shape-search" d="M3.327,96.684C5.534,98.895,8.434,100,11.331,100s5.797-1.105,8.004-3.316l21.321-21.322
                c5.83,3.188,12.393,4.897,19.223,4.897c10.721,0,20.798-4.172,28.379-11.752c15.646-15.644,15.646-41.105,0.002-56.755
                C80.677,4.171,70.598,0,59.877,0C49.159,0,39.08,4.171,31.504,11.752c-7.581,7.576-11.756,17.655-11.756,28.376
                c0,6.832,1.71,13.396,4.9,19.226L3.327,80.675C-1.096,85.094-1.096,92.266,3.327,96.684z M59.879,68.938
                c-7.695,0-14.93-2.996-20.371-8.435c-5.443-5.442-8.439-12.677-8.439-20.375c0-7.695,2.996-14.933,8.439-20.372
                c5.441-5.44,12.676-8.436,20.369-8.436c7.698,0,14.936,2.997,20.378,8.436c11.231,11.236,11.231,29.515,0,40.747
                C74.812,65.941,67.575,68.938,59.879,68.938z"></path>
    </defs>
</svg>
<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js?lang=perl&skin=sunburst&autoload=true" async="async"></script>
{{ if .Site.Params.shareButtons }}
    <script type="text/javascript" src="https://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4fb122922591215b" async="async"></script>
{{ end }}
{{ template "_internal/google_analytics.html" . }}
<script data-goatcounter="https://subinsbdotcom.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
<script>
    var r = new XMLHttpRequest();
    r.addEventListener('load', function() {
        document.querySelector('#sanders-page-counter').innerHTML = JSON.parse(this.responseText).count
    })
    r.open('GET', 'https://subinsbdotcom.goatcounter.com/counter/' + encodeURIComponent(location.pathname) + '.json')
    r.send()
</script>