  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="{{ .Type }}-heading">
          <h1>{{ if .Title }}{{ .Title }}{{ else }}<br/>{{ end }}</h1>
      {{ if .Params.subtitle }}
        {{ if eq .Type "page" }}
            <hr class="small">
            <span class="{{ .Type }}-subheading">{{ .Params.subtitle }}</span>
      {{ else }}
      <h2 class="{{ .Type }}-subheading">{{ .Params.subtitle }}</h2>
      {{ end }}
      {{ end }}

      {{ if eq .Type "post" }}
			<span class="post-meta">Posted on {{ .Date.Format "January 2, 2006" }} | written by {{ .Site.Params.author }} </span>
      {{ end }}
        </div>
      </div>
    </div>
  </div>
