<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <title>{{ .Title }}</title>
  {{ with .Description }}<meta name="description" content="{{ . }}">{{ end }}
  <meta name="author" content="{{ .Site.Author.name }}"/>
  {{ .Hugo.Generator }}
  {{ with .Site.Params.favicon }}<link href='{{ $.Site.BaseURL }}/{{ . }}' rel='icon' type='image/x-icon'/>{{ end }}

  <link rel="alternate" href="{{ "/index.xml" | absURL }}" type="application/rss+xml" title="{{ .Site.Title }}">

  <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/bootstrap.css" />
  <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/main.css" />

  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet" type="text/css" async="async">

  <!-- Facebook OpenGraph tags -->
  <meta property="og:title" content="{{ .Title }}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ .URL }}" />
  <meta property="og:image" content="/{{ .Site.Params.logo }}" />

</head>
