<nav class="navbar navbar-default navbar-fixed-top navbar-custom">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
    </div>

    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="nav navbar-nav navbar-right">
      {{ range .Site.Menus.main.ByWeight }}
        {{ if .HasChildren }}
          <li class="navlinks-container">
            <a class="navlinks-parent" href="javascript:void(0)">{{ .Name }}</a>
            <div class="navlinks-children">
            {{ range .Children }}
              <a href="{{ .URL }}">{{ .Name }}</a>
            {{ end }}
            </div>
          </li>
        {{ else }}
          <li>
          <a title="{{ .Name }}" href="{{ .URL }}">{{ .Name }}</a>
  	      </li>
  	    {{ end }}
      {{ end }}
      </ul>
    </div>

	<div class="avatar-container">
    {{ if isset .Site.Params "logo" }}
        <div class="avatar-img-border">
          <a title="{{ .Site.Title }}" href="{{ .Site.BaseURL }}">
              <img class="avatar-img" src="{{ .Site.BaseURL }}/{{ .Site.Params.logo }}" alt="{{ .Site.Title }}" />
          </a>
        </div>
    {{ end }}
	</div>

  </div>
</nav>
