.padlinks {
    text-align: center;
    margin: 10px
}

.download, .demo {
    min-width: 120px;
    background: rgba(230, 0, 0, .6);
    margin: 0px 5px;
    padding: 10px;
    display: inline-block;
    color: white !important;
    border-radius: 10px;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none !important;
}

.demo {
    background: rgba(0, 170, 0, .6);
}
