<!DOCTYPE html>
<html>
    {{ partial "head.html" . }}
    <body>
        {{ partial "nav.html" . }}
        {{ partial "nav-secondary.html" . }}

        <div class="container main" role="main">
            {{ if eq .Type "post" }}
                {{ partial "post.html" . }}
            {{ else if eq .Type "page" }}
                {{ partial "post.html" . }}
            {{ else }}
                NO MATCHING PARTIAL
                {{.Content}}
            {{ end }}
        </div>

        <script>
            document.querySelectorAll(".single-post img").forEach(imgElem => {
                const a = document.createElement("a");
                a.href = imgElem.src;
                a.setAttribute("target", "_blank")
        
                const imgClone = imgElem.cloneNode(true);
                a.appendChild(imgClone);
        
                imgElem.replaceWith(a);
            })
        </script>

        {{ partial "footer.html" . }}
    </body>
</html>
