<script>
/**
Primary - 37325CT7PF8cEuZhwdvJpX5Qh28gru2NVb
Bitbond - 1KEhcVuYPSWYKJzRyN7oxrUeokRVpMwBpH</p>
<p><span id="cd904"> </span><span id="cd905"> </span><span id="cd906"> </span><span id="cd907"> </span>
*/
  !function(c){var t=document.createElement("script");t.type="text/javascript",t.async=!0,t.onload=c,t.src="//lab.subinsb.com/projects/francium/cryptodonate/widget.js";var e=document.getElementsByTagName("script")[0];e.parentNode.insertBefore(t,e)}(function(){
    Fr.loadCD("cd904", {
      coin: "bitcoin",
      address: "1GM6ptZVajJYaERcqUCQ4dCgafM3cVvKc3",
    });
    Fr.loadCD("cd905", {
      coin: "monero",
      address: "463ZgKoBzN4WXaQPMVvCHHBe8ZE7cg44Q5mukaWfnZ2ngxUXYTaAg5jbxiBfk2jKyCSEB3qDHwmEgNL6KWqpBc2i9As4ez3",
    });
    Fr.loadCD("cd906", {
      coin: "litecoin",
      address: "LQmUG1SGACZdTnziJE9Sp6tuRP7Uwuif8U",
    });
    Fr.loadCD("cd907", {
      coin: "ethereum",
      address: "0xb4d3bfbc518da409d8f9d2b7ece034895d552417",
    });
  });
</script>
